
<table id="dg" title="My news" class="easyui-datagrid" style="width:100%;height:450px"
         url="<?php echo Core::base_url().'news_backend/listdata';?>"
         toolbar="#toolbar" pagination="true"
         rownumbers="true" fitColumns="true" singleSelect="true">
     <thead>
         <tr>
	         <th field="lang_id" width="50">Language</th>
	         <th field="title" width="50">Title</th>
             <th field="content" width="50">Content</th>
             <th field="file_name" width="50">File Name</th>
             <th field="tag" width="50">Tags</th>
         </tr>
     </thead>
 </table>
 <div id="toolbar">
     <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newnews()">New news</a>
     <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editnews()">Edit news</a>
     <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroynews()">Remove news</a>
 </div>
 
 <div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
         closed="true" buttons="#dlg-buttons">
     <div class="ftitle">news Information</div>
     <form id="fm" method="post" novalidate>
     	<div class="fitem">
             <label>Language:</label>
             <input name="lang_id" class="easyui-textbox" required="true">
         </div>
         <div class="fitem">
             <label>Title:</label>
             <input name="title" class="easyui-textbox" required="true">
         </div>
         <div class="fitem">
             <label>Content:</label>
             <input name="content" class="easyui-textbox" required="true">
         </div>
         <div class="fitem">
             <label>File Name:</label>
             <input name="file_name" class="easyui-textbox" >
         </div>
         <div class="fitem">
             <label>Tags:</label>
             <input name="tag" class="easyui-textbox">
         </div>
     </form>
 </div>
 <div id="dlg-buttons">
     <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="savenews()" style="width:90px">Save</a>
     <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
 </div>

 <style type="text/css">
     #fm{
         margin:0;
         padding:10px 30px;
     }
     .ftitle{
         font-size:14px;
         font-weight:bold;
         padding:5px 0;
         margin-bottom:10px;
         border-bottom:1px solid #ccc;
     }
     .fitem{
         margin-bottom:5px;
     }
     .fitem label{
         display:inline-block;
         width:80px;
     }
     .fitem input{
         width:160px;
     }
 </style>
<script src="<?php echo Core::base_url(); ?>app/view/backend/js/news.js"></script>