<script>
window.replace_image_tag = function (value) {
		return value.replace(/<?!?(img|a)[^>]*>/, '*IMAGE*');
	};
var category_data = <?php echo $data['menu']; ?>;
var language_data = <?php echo $data['language']; ?>;
window.return_language_name = function(value) {
	if(value == '' || isNaN(parseInt(value))) return null;
	
	$.each(language_data, function(i, item) {
		/*
		console.log(item);
		console.log(parseInt(item.id));
		console.log(value);
		console.log(parseInt(value));
		*/
	    if(parseInt(item.id) === parseInt(value)) {
	    	value = item.short_name;
	    	return value;
	    }
	  });
	return value;
};

window.return_category_name = function(id) {
	if(id == '') return;
	$.each(category_data, function(i, item) {
	    if(parseInt(item.id) === parseInt(id)) {
	    	id = item.category_name;
	    }
	  });
	return id;

};
window.return_value = function(value){
	   price = $(this).parent();
	   price_display = $(this).parent();
	   item_price = price.find('input[name ="price"]').val();
	   item_price_dis = price.find('input[name ="price_display"]').val();
	   discount = (item_price / item_price_dis) * 100;
	   return discount;
	
}

</script>
<table id="dg" title="My product" class="easyui-datagrid" style="width:100%;height:450px"
         url="<?php echo Core::base_url().'product_backend/Listdata';?>"
         toolbar="#toolbar" pagination="true"
         rownumbers="true" fitColumns="true" singleSelect="true" nowrap="true">
     <thead>
         <tr>
	         <th field="product_name" width="50">Product Name</th>
	         <th field="price" width="50">price</th>
	         <th field="price_display" width="50">price_display</th>
	         <th field="discount" width="50">discount</th>
	         <th field="product_code" width="50">product_code</th>
	         <th field="status" width="50">status</th>
	         <th field="rate" width="50">rate</th>
	         <th field="description" width="50">description</th>
	         <th field="description_detail" width="50">description_detail</th>
	         <th field="froms_product" width="50">froms_product</th>
	         <th field="material" width="50">material</th>
	         <th field="age_from" width="50">age_from</th>
	         <th field="age_to" width="50">age_to</th>
             <th field="size_id" width="50">size_id</th>
             <th field="genders" width="50">genders</th>
	         <th field="category_id" width="50">category_id</th>
	         <th field="image_avata" width="50">image_avata</th>
	         <th field="image_detail_1" width="50">image_detail_1</th>
	         <th field="image_detail_2" width="50">image_detail_2</th>
             <th field="image_detail_3" width="50">image_detail_3</th>
             <th field="image_detail_4" width="50">image_detail_4</th>
	         <th field="image_detail_5" width="50">image_detail_5</th>
             <th field="user_id" width="50">user_id</th>
         </tr>
     </thead>
 </table>
 <div id="toolbar">
     <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newproduct()">New product</a>
     <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editproduct()">Edit product</a>
     <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyproduct()">Remove product</a>
     <!-- <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="transproduct()">Trans product</a> -->
 </div>
 
 <div id="dlg" class="easyui-dialog" style="width:1028px;height:650px;padding:10px 20px; display:none"
         closed="true" buttons="#dlg-buttons">
     <div class="ftitle">Product Information</div>
     <form id="fm" method="post" novalidate enctype="multipart/form-data">
     
     	<div class="fitem">
             <label>Product_name:</label>
             <input name="product_name" class="easyui-textbox">
         </div>
         
         <div class="fitem" >
             <label>Price:</label>
             <input id="price" name="price" class="easyui-textbox">
         </div>
         
         <div class="fitem" >
             <label>Price_display:</label>
             <input id="price_display" name="price_display" class="easyui-textbox">
         </div>
         
         <div class="fitem">
             <label>Discount:</label>
             <input id="discount" name="discount" class="easyui-textbox">
         </div>
         
         <div class="fitem">
             <label>Product_code:</label>
             <input name="product_code" class="easyui-textbox">
         </div>
         
         <div class="fitem">
             <label>Status:</label>
             <input name="status" class="easyui-textbox">
         </div>
         
         <div class="fitem">
             <label>Rate:</label>
             <input name="rate" class="easyui-textbox">
         </div>
         
         <div class="fitem">
             <label for="message">Description:</label>
             <textarea name="description" style="height:60px; width:60%"></textarea>
         </div>
         
         <div class="fitem">
             <label>Description_detail:</label>
              <input id="real_content" name="description_detail" type="hidden" >
			 <textarea id="content_content" type="text"  cols="70" class="content_editor" style="width:850px;min-height:200px;height:200px;"></textarea>
         </div>
         
         <div class="fitem">
             <label>Froms_product:</label>
             <input name="froms_product" class="easyui-textbox">
         </div>
         
         <div class="fitem">
             <label>Material:</label>
             <input name="material" class="easyui-textbox">
         </div>
         
         <div class="fitem">
         <label>Age From:</label>
            <input class="easyui-numberspinner" name="age_from" data-options="
                    onChange: function(value){
                        $('#vv').text(value);
                    }
                ">
         </div>
         
         <div class="fitem">
         <label>Age To:</label>
        <input class="easyui-numberspinner" name="age_to" data-options="
                    onChange: function(value){
                        $('#vv').text(value);
                    }
                ">
    </div>
         
         <div class="fitem">
             <label>Size_id:</label>
             <input name="size_id" class="easyui-textbox">
         </div>
         <div class="fitem">
             <label>Genders:</label>
             <input name="genders" class="easyui-switchbutton" data-options="onText:'Male',offText:'Fmale'">
         </div>
              
         <div class="fitem">
             <label>Category:</label>
             <input name="category_id"  id="read" data-options="valueField:'id',textField:'title' ,url:'<?php echo Core::base_url().'menu_backend/listdata';?>'"
              class="easyui-combobox" value="menu_name" >
         </div>
         
        <div class="fitem">
         	<label>Image_avata:</label>
         	<input class="easyui-filebox" name="image_avata" data-options="prompt:'Choose a file...'" style="width:150px">
         </div>
         
         <div class="fitem">
         	<label>image_detail_1:</label>
         	<input class="easyui-filebox" name="image_detail_1" data-options="prompt:'Choose a file...'" style="width:150px">
         </div>
         <div class="fitem">
         	<label>image_detail_2:</label>
         	<input class="easyui-filebox" name="image_detail_2" data-options="prompt:'Choose a file...'" style="width:150px">
         </div>
         <div class="fitem">
         	<label>image_detail_3:</label>
         	<input class="easyui-filebox" name="image_detail_3" data-options="prompt:'Choose a file...'" style="width:150px">
         </div>
         <div class="fitem">
         	<label>image_detail_4:</label>
         	<input class="easyui-filebox" name="image_detail_4" data-options="prompt:'Choose a file...'" style="width:150px">
         </div>
         <div class="fitem">
         	<label>image_detail_5:</label>
         	<input class="easyui-filebox" name="image_detail_5" data-options="prompt:'Choose a file...'" style="width:150px">
         </div>

     	
     </form>
 </div>
 <div id="dlg-buttons">
     <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveproduct()" style="width:90px">Save</a>
     <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
 </div>

 <style type="text/css">
     #fm{
         margin:0;
         padding:10px 30px;
     }
     .ftitle{
         font-size:14px;
         font-weight:bold;
         padding:5px 0;
         margin-bottom:10px;
         border-bottom:1px solid #ccc;
     }
     .fitem{
         margin-bottom:5px;
     }
     .fitem label{
         display:inline-block;
         width:80px;
     }
     .fitem input{
         width:160px;
     }
 </style>
<script src="<?php echo Core::base_url(); ?>app/view/backend/niceditor/nicedit.js"></script>
<script src="<?php echo Core::base_url(); ?>app/view/backend/js/product.js"></script>
