
<table id="dg" title="My slides" class="easyui-datagrid" style="width:100%;height:450px"
         url="<?php echo Core::base_url().'slide_backend/listdata';?>"
         toolbar="#toolbar" pagination="true"
         rownumbers="true" fitColumns="true" singleSelect="true">
     <thead>
         <tr>
             <th field="title" width="50">Title</th>
             <th field="content" width="50">Content</th>
             <th field="image" width="50">Image</th>
             <th field="sub_image" width="50">Sub Image</th>
             <th field="taxonomy_id" width="50">Taxonomy</th>
         </tr>
     </thead>
 </table>
 <div id="toolbar">
     <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newslide()">New Slide</a>
     <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editslide()">Edit Slide</a>
     <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyslide()">Remove Slide</a>
 </div>
 
 <div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px;display:none"
         closed="true" buttons="#dlg-buttons">
     <div class="ftitle">slide Information</div>
     <form id="fm" method="post" novalidate>
         <div class="fitem">
             <label>Title:</label>
             <input name="title" class="easyui-textbox" >
         </div>
         <div class="fitem">
             <label>Content:</label>
             <input name="content" class="easyui-textbox" >
         </div>
         <div class="fitem">
             <label>Image:</label>
             <input name="image" class="easyui-textbox" required="true">
         </div>
         <div class="fitem">
             <label>Sub Image:</label>
             <input name="sub_image" class="easyui-textbox" >
         </div>
         <div class="fitem">
             <label>Taxonomy:</label>
             <input id="cc" class="easyui-combobox" name="taxonomy_id" required="true"
    data-options="valueField:'id',textField:'title',url:'<?php echo Core::base_url().'taxonomy_backend/listdata';?>'" >
         </div>
     </form>
 </div>
 <div id="dlg-buttons">
     <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveslide()" style="width:90px">Save</a>
     <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
 </div>

 <style type="text/css">
     #fm{
         margin:0;
         padding:10px 30px;
     }
     .ftitle{
         font-size:14px;
         font-weight:bold;
         padding:5px 0;
         margin-bottom:10px;
         border-bottom:1px solid #ccc;
     }
     .fitem{
         margin-bottom:5px;
     }
     .fitem label{
         display:inline-block;
         width:80px;
     }
     .fitem input{
         width:160px;
     }
 </style>
<script src="<?php echo Core::base_url(); ?>app/view/backend/js/slide.js"></script>