
<!DOCTYPE html>

<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->

<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->

<!--[if IE 9]>
<html class="ie ie9" lang="en-US">
<![endif]-->

<!--[if !(IE 7) | !(IE 8) | !(IE 9)  ]><!-->
<html lang="en-US">
<!--<![endif]-->

<head>
<title>Magazine | Responsive Multipurpose HTML Template</title>
<meta charset="UTF-8" />
<link rel="shortcut icon" href="app/view/newstreecolumn/images/favicon.png" title="Favicon"/>
<meta name="viewport" content="width=device-width" />

<link rel='stylesheet' id='magz-style-css'  href='app/view/newstreecolumn/css/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='swipemenu-css'  href='app/view/newstreecolumn/css/swipemenu.css' type='text/css' media='all' />
<link rel='stylesheet' id='flexslider-css'  href='app/view/newstreecolumn/css/flexslider.css' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css'  href='app/view/newstreecolumn/css/bootstrap.css' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-responsive-css'  href='app/view/newstreecolumn/css/bootstrap-responsive.css' type='text/css' media='all' />
<link rel='stylesheet' id='simplyscroll-css'  href='app/view/newstreecolumn/css/jquery.simplyscroll.css' type='text/css' media='all' />
<link rel='stylesheet' id='jPages-css'  href='app/view/newstreecolumn/css/jPages.css' type='text/css' media='all' />
<link rel='stylesheet' id='rating-css'  href='app/view/newstreecolumn/css/jquery.rating.css' type='text/css' media='all' />
<link rel='stylesheet' id='ie-styles-css'  href='app/view/newstreecolumn/css/ie.css' type='text/css' media='all' />
<link rel='stylesheet' id='Roboto-css'  href='http://fonts.googleapis.com/css?family=Roboto' type='text/css' media='all' />

<script type='text/javascript' src="app/view/newstreecolumn/js/jquery-1.10.2.min.js"></script>
<script type='text/javascript' src='app/view/newstreecolumn/js/html5.js'></script>
<script type='text/javascript' src='app/view/newstreecolumn/js/bootstrap.min.js'></script>
<script type='text/javascript' src='app/view/newstreecolumn/js/jquery.flexslider.js'></script>
<script type='text/javascript' src='app/view/newstreecolumn/js/jquery.flexslider.init.js'></script>
<script type='text/javascript' src='app/view/newstreecolumn/js/jquery.bxslider.js'></script>
<script type='text/javascript' src='app/view/newstreecolumn/js/jquery.bxslider.init.js'></script>
<script type='text/javascript' src='app/view/newstreecolumn/js/jquery.rating.js'></script>
<script type='text/javascript' src='app/view/newstreecolumn/js/jquery.idTabs.min.js'></script>
<script type='text/javascript' src='app/view/newstreecolumn/js/jquery.simplyscroll.js'></script>
<script type='text/javascript' src='app/view/newstreecolumn/js/fluidvids.min.js'></script>
<script type='text/javascript' src='app/view/newstreecolumn/js/jPages.js'></script>
<script type='text/javascript' src='app/view/newstreecolumn/js/jquery.sidr.min.js'></script>
<script type='text/javascript' src='app/view/newstreecolumn/js/jquery.touchSwipe.min.js'></script>
<script type='text/javascript' src='app/view/newstreecolumn/js/custom.js'></script>

		<!-- END -->

</head>

<body>
<div id="page">
	<?php include 'include/menu.html';?>
    <?php include 'include/headline.html';?>
</div><!-- #wrapper -->

</body>
</html>
