 <!-- Start: Footer -->
 <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
            <div id="web5s_footer_wrap">
                <div class="web5s-footer-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <div class="contact-info">
                                   <h4> <p class="regular-bold">Mọi thắc mắc vui lòng liên hệ với chúng tôi.</p></h4>
                                    <p>5A Đường Hạnh Thông Phường 3 Gò Vấp ( Gần BigC Gò Vấp ).</p>
                                    <p>Tel: 0945779684, 
                                       Tel: 0918525076
                                    </p>
                                    <p>Email: support@thathi.vn</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <script type="text/javascript">
                                	function isEmail(email) {
										  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
										  return regex.test(email);
									}
                                    
                                    $(document).ready(function() {
                                        $('button[name="submit"]').click(function() {
                                        	email_text = $('#email_magezine').val();
                                        	
                                        	email_valid = isEmail(email_text);
                                        	
                                        	if(email_valid ==  true) {
                                        		$.post( "<?php echo Core::base_url(); ?>mailmagazine", { email: email_text})
												  .done(function(result) {
												  	data = JSON.parse(result);
												    if(data.status == 'OK') {
												    	alert('Đã đămg ký thành công: ' + email_text);
												    } else {
												    	alert(data.message);
												    }
												  });
                                        	}
                                        	
                                        	return false;
                                        });
                                    });
                                    
                                </script>
                                <div class="newsletter">
                                    <h4>Nhận tin khuyến mại</h4>
                                    <p>Nhập email để nhận thông tin khuyến mại sản phẩm với giá hấp dẫn.</p>
                                        <div class="input-group">
                                            <input id="email_magezine" type="text" name="email" size="18" class="form-control email" placeholder="Nhập email của bạn..." _autocheck="true">
                                            <span class="input-group-btn">
                                            <button class="btn btn-primary" name="submit" type="submit">
                                            Đăng ký                </button>
                                            </span>
                                        </div>
                                        <div name="email_error" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="social-icons">
                                    <h4>Kết nối với chúng tôi</h4>
                                    <p>Cập nhật thông tin mới nhất của chúng tôi qua kết nối của các mạng xã hội.</p>

                                       <div class="fb-page" data-href="https://www.facebook.com/THATHI.FASHION/" data-tabs="ThathiFashion"
                                       data-width="350" data-height="120" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                       <blockquote cite="https://www.facebook.com/THATHI.FASHION/" class="fb-xfbml-parse-ignore">
                                       <a href="https://www.facebook.com/THATHI.FASHION/">THA THI</a></blockquote></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="web5s-footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="footer-line">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <div class="copyright">
                                                © <a href="<?php echo Core::base_url(); ?>home">
                                                    ThathiFashion  </a>
                                                                              
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0)" class="bTo-top bTo-is-visible">Top</a>
            <!-- Main js -->
           
            <!-- Plugins -->
            <!-- Alert -->
            <script type="text/javascript">
	            $(document).ready(function(){
	            	$('.bxslider').bxSlider({
	            		auto: true,
					  infiniteLoop: true,
					  hideControlOnEnd: true
					});
	            });
            </script>
            <div class="alert alert-success alert-dismissible" role="alert" id="alert-msg">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>
                <span class="fa fa-check"></span> <span id="body-alert-msg"></span>
                </strong>
            </div>
            <style type="text/css">
                #alert-msg{position: fixed;top: 100px;right: 0px;border-radius: 0px;z-index: 9999;display: none;}
                #alert-msg strong{font-size: 12px;padding-right: 10px;}
            </style>
            <!-- Plugin script -->
            <!-- Facebook script -->
           
           <!-- End: Footer -->
        </div>
        <!-- End: Main -->
        <div id="lean_overlay"></div>
        
    </body>
</html>