 <!-- Start: Footer -->
            <div id="web5s_footer_wrap">
                <div class="web5s-footer-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <div class="contact-info">
                                    <p class="regular-bold">Mọi thắc mắc và tư vấn vui lòng liên hệ trực tiếp với chúng tôi.</p>
                                    <p>Tầng 6, Toà nhà iNET, 247 Cầu Giấy, Q. Cầu Giấy, Hà Nội</p>
                                    <p>Tel: (04)-3838.5588, 
                                        Fax: (04)-3793.0979
                                    </p>
                                    <p>Email: support@inet.vn</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <script type="text/javascript">
                                	function isEmail(email) {
										  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
										  return regex.test(email);
									}
                                    
                                    $(document).ready(function() {
                                        $('button[name="submit"]').click(function() {
                                        	email_text = $('#email_magezine').val();
                                        	
                                        	email_valid = isEmail(email_text);
                                        	
                                        	if(email_valid ==  true) {
                                        		$.post( "<?php echo Core::base_url(); ?>mailmagazine", { email: email_text})
												  .done(function(result) {
												  	data = JSON.parse(result);
												    if(data.status == 'OK') {
												    	alert('Đã đămg ký thành công: ' + email_text);
												    } else {
												    	alert(data.message);
												    }
												  });
                                        	}
                                        	
                                        	return false;
                                        });
                                    });
                                    
                                </script>
                                <div class="newsletter">
                                    <h4>Nhận tin khuyến mại</h4>
                                    <p>Nhập email để nhận thông tin khuyến mại sản phẩm với giá hấp dẫn.</p>
                                        <div class="input-group">
                                            <input id="email_magezine" type="text" name="email" size="18" class="form-control email" placeholder="Nhập email của bạn..." _autocheck="true">
                                            <span class="input-group-btn">
                                            <button class="btn btn-primary" name="submit" type="submit">
                                            Đăng ký                </button>
                                            </span>
                                        </div>
                                        <div name="email_error" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="social-icons">
                                    <h4>Kết nối với chúng tôi</h4>
                                    <p>Cập nhật thông tin mới nhất của chúng tôi 1 cách nhanh chóng nhất qua kết nối của các mạng xã hội.</p>
                                    <ul>
                                        <li><a class="fa fa-facebook" href="" title="facebook"></a>
                                        </li>
                                        <li><a class="fa fa-google-plus" href="" title="google-plus"></a>
                                        </li>
                                        <li><a class="fa fa-twitter" href="" title="twitter"></a>
                                        </li>
                                        <li><a class="fa fa-youtube" href="" title="youtube"></a>
                                        </li>
                                        <li><a class="fa fa-pinterest" href="" title="pinterest"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="web5s-footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="footer-line">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <div class="copyright">
                                                © <a href="<?php echo Core::base_url(); ?>">
                                                iNET Milano's eCommerce                                    </a>
                                                - Nhà đăng ký tên miền Việt Nam                                
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <!-- Web5s author -->
                                            <div class="web5s-author">
                                                <span>Powered by <a href="http://web5s.com.vn/">Web5s</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0)" class="bTo-top bTo-is-visible">Top</a>
            <!-- Main js -->
           
            <!-- Plugins -->
            <!-- Alert -->
            <script type="text/javascript">
	            $(document).ready(function(){
	            	$('.bxslider').bxSlider({
	            		auto: true,
					  infiniteLoop: true,
					  hideControlOnEnd: true
					});
	            });
            </script>
            <div class="alert alert-success alert-dismissible" role="alert" id="alert-msg">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>
                <span class="fa fa-check"></span> <span id="body-alert-msg"></span>
                </strong>
            </div>
            <style type="text/css">
                #alert-msg{position: fixed;top: 100px;right: 0px;border-radius: 0px;z-index: 9999;display: none;}
                #alert-msg strong{font-size: 12px;padding-right: 10px;}
            </style>
            <!-- Plugin script -->
            <!-- Facebook script -->
           
           <!-- End: Footer -->
        </div>
        <!-- End: Main -->
        <div id="lean_overlay"></div>
        
    </body>
</html>