
            <!-- Start: Content Wrapper -->

            <div id="web5s_content">
                <!-- Start: Slideshow -->
                <?php
                	if(count($data['slide']) > 0) {
                ?>
                <ul class="bxslider" id="web5s-slideshow">
                	<?php
                		foreach($data['slide'] as $slide) {
                	?>
                		<li >
						  <img style="width: 1220px; height: 520px; margin-right: 0px;" src="<?php echo Core::base_url(); ?>file_upload/<?php echo $slide['image']; ?>" alt="01">
						</li>
                	<?php
                		}
                	?>
				</ul>
                
                <?php
                	}
                ?>

                <!-- End: Slideshow -->
            </div>
            <!-- End: Content Wrapper -->
            <!-- Start: Products Wrapper -->
            <div id="web5s-banner-wrapper">
                <div class="container">
                    <div class="top-banner-section">
                        <div class="container">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="eff-v3">
                                    <a href="" title="01">
                                    <img src="<?php echo View::getPathView(); ?>image/thumb(2).php" alt="01">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="eff-v3">
                                    <a href="" title="02">
                                    <img src="<?php echo View::getPathView(); ?>image/thumb(3).php" alt="02">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="eff-v3">
                                    <a href="" title="03">
                                    <img src="<?php echo View::getPathView(); ?>image/thumb(4).php" alt="03">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .banner -->
                </div>
            </div>
            <!-- End: Products Wrapper -->
            <div class="products-grid clearfix">
                <div class="col-md-12">
                    <div class="main-products clearfix">
                        <div class="home-tabs">
                            <div class="web5s-pdt-nav">
                                <ul class="web5s-nav nav nav-tabs" id="hotdealTab">
                                    <li class="active">
                                        <a href="<?php echo Core::base_url(); ?>#bestseller">
                                        <span class="title-navi">Sản phẩm bán chạy</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="<?php echo Core::base_url(); ?>#sale">
                                        <span class="title-navi">Sản phẩm giảm giá</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="web5s-pdt-content list-5">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="bestseller">
                                        <div class="pdt-content products-grid">
                                        	<?php 
                                            if(count($data['product']) > 0) {
                                            	$product_length = count($data['product']);
                                            	$count = 1;
                                            	foreach($data['product'] as $product) {
                                            		if($count == 1) {
                                            			echo '<ul class="pdt-list">';
                                            		}
                                            		if($count%6 == 0) {
                                            			echo '<ul class="pdt-list">';
                                            		}
                                            ?>

                                                <div class="item">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <div class="item-img-info">
                                                                <a href="<?php echo Core::base_url().'home/productdetail?id='.$product['id']?>" title="<?php $product['product_name'] ?>" class="product-image">
                                                                <img src="<?php echo Core::base_url().'file_upload/'.$product['image_avata'];?>" alt="0">
                                                                </a>
                                                                <div class="sale-label sale-top-right">
                                                                    <span>-<?php echo $product['discount']; ?>%</span>
                                                                </div>
                                                            </div>
                                                            <!--item-img-info-->
                                                        </div>
                                                        <!--item-img-->
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title">
                                                                    <a title="<?php echo $product['product_name']; ?>" href="<?php echo Core::base_url().'home/productdetail?id='.$product['id']?>"><?php echo $product['product_name']; ?></a>
                                                                </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box">
                                                                            <p class="old-price">
                                                                                <span class="price-label">Giá cũ:</span>
                                                                                <span id="old-price-45" class="price"><?php echo $product['price_display']; ?>₫</span>
                                                                            </p>
                                                                            <p class="special-price">
                                                                                <span class="price-label">Giá khuyến mại:</span>
                                                                                <span id="product-price-45" class="price"><?php echo $product['price']; ?>₫</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="actions">
                                                                        <div class="add_cart">
                                                                            <!-- Add cart -->
                                                                            <a href="javascript:void(0)" class="link-wishlist add_favorite " data="16920" title="Yêu thích sản phẩm"></a>
                                                                            <a href="<?php echo Core::base_url().'home/productdetail?id='.$product['id']; ?>" class="button btn-cart" title="Mua hàng">
                                                                            <span>Mua hàng</span>
                                                                            </a>
                                                                            <a href="javascript:void(0)" class="link-compare add_to_compare add_compare " data="16920" title="Thêm vào so sánh"></a>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Actions -->
                                                                </div>
                                                                <!--item-content-->
                                                            </div>
                                                            <!--info-inner-->
                                                        </div>
                                                        <!--item-info-->
                                                    </div>
                                                </div>
                                            <?php
                                            		if($count%6 == 5) {
                                            			echo '</ul>';
                                            		} else if ($count == $product_length)
                                            		{
                                            			echo '</ul>';
                                            		}
                                            	$count++;
                                            	}
                                            } 
                                            ?>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="sale">
                                        <div class="pdt-content products-grid">
                                            <ul class="pdt-list">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Main Products -->
                    <!-- Banner Ads -->
                    <div class="full-width-banner">
                        <div class="container">
                            <div class="eff-v3">
                                <a href="" title="01">
                                <img src="<?php echo View::getPathView(); ?>image/thumb(10).php" alt="01">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="featured-products container">
                        <div class="fea-items-products">
                            <div class="new_title">
                                <h2>Sản phẩm mới nhất</h2>
                            </div>
                            <div id="featured-slider">
                                <div id="owl-newfeatured-web5s" class="owl-carousel owl-theme owl-loaded">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 966.665px;">
                                            <div class="owl-item active" style="width: 193.333px; margin-right: 0px;">
                                                <div class="item">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <div class="item-img-info">
                                                                <a href="<?php echo Core::base_url(); ?>san-pham/khan-nhung-det-lua-cao-cap" title="Khăn nhung dệt lụa cao cấp" class="product-image">
                                                                <img src="<?php echo View::getPathView(); ?>image/thumb(11).php" alt="0">
                                                                </a>
                                                                <div class="sale-label sale-top-right"><span>-16%</span></div>
                                                            </div>
                                                            <!--item-img-info-->
                                                        </div>
                                                        <!--item-img-->
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title">
                                                                    <a title="Khăn nhung dệt lụa cao cấp" href="<?php echo Core::base_url(); ?>san-pham/khan-nhung-det-lua-cao-cap">Khăn nhung dệt lụa cao cấp</a>
                                                                </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box">
                                                                            <p class="old-price">
                                                                                <span class="price-label">Giá cũ:</span>
                                                                                <span id="old-price-45" class="price">890.000₫</span>
                                                                            </p>
                                                                            <p class="special-price">
                                                                                <span class="price-label">Giá khuyến mại:</span>
                                                                                <span id="product-price-45" class="price">750.000₫</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="actions">
                                                                        <div class="add_cart">
                                                                            <!-- Add cart -->
                                                                            <a href="javascript:void(0)" class="link-wishlist add_favorite " data="16924" title="Yêu thích sản phẩm"></a>
                                                                            <a href="<?php echo Core::base_url(); ?>san-pham/khan-nhung-det-lua-cao-cap" class="button btn-cart" title="Mua hàng">
                                                                            <span>Mua hàng</span>
                                                                            </a>
                                                                            <a href="javascript:void(0)" class="link-compare add_to_compare add_compare " data="16924" title="Thêm vào so sánh"></a>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Actions -->
                                                                </div>
                                                                <!--item-content-->
                                                            </div>
                                                            <!--info-inner-->
                                                        </div>
                                                        <!--item-info-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl-item active" style="width: 193.333px; margin-right: 0px;">
                                                <div class="item">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <div class="item-img-info">
                                                                <a href="<?php echo Core::base_url(); ?>san-pham/vay-xanh-dang-xuong-cho-be-gai" title="Váy xanh dáng xuông cho bé gái" class="product-image">
                                                                <img src="<?php echo View::getPathView(); ?>image/thumb(12).php" alt="0">
                                                                </a>
                                                                <div class="sale-label sale-top-right"><span>-18%</span></div>
                                                            </div>
                                                            <!--item-img-info-->
                                                        </div>
                                                        <!--item-img-->
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title">
                                                                    <a title="Váy xanh dáng xuông cho bé gái" href="<?php echo Core::base_url(); ?>san-pham/vay-xanh-dang-xuong-cho-be-gai">Váy xanh dáng xuông cho bé gái</a>
                                                                </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box">
                                                                            <p class="old-price">
                                                                                <span class="price-label">Giá cũ:</span>
                                                                                <span id="old-price-45" class="price">425.000₫</span>
                                                                            </p>
                                                                            <p class="special-price">
                                                                                <span class="price-label">Giá khuyến mại:</span>
                                                                                <span id="product-price-45" class="price">350.000₫</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="actions">
                                                                        <div class="add_cart">
                                                                            <!-- Add cart -->
                                                                            <a href="javascript:void(0)" class="link-wishlist add_favorite " data="16923" title="Yêu thích sản phẩm"></a>
                                                                            <a href="<?php echo Core::base_url(); ?>san-pham/vay-xanh-dang-xuong-cho-be-gai" class="button btn-cart" title="Mua hàng">
                                                                            <span>Mua hàng</span>
                                                                            </a>
                                                                            <a href="javascript:void(0)" class="link-compare add_to_compare add_compare " data="16923" title="Thêm vào so sánh"></a>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Actions -->
                                                                </div>
                                                                <!--item-content-->
                                                            </div>
                                                            <!--info-inner-->
                                                        </div>
                                                        <!--item-info-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl-item active" style="width: 193.333px; margin-right: 0px;">
                                                <div class="item">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <div class="item-img-info">
                                                                <a href="<?php echo Core::base_url(); ?>san-pham/giay-nam-cao-cap" title="Giày nam cao cấp" class="product-image">
                                                                <img src="<?php echo View::getPathView(); ?>image/thumb(13).php" alt="0">
                                                                </a>
                                                                <div class="sale-label sale-top-right"><span>-34%</span></div>
                                                            </div>
                                                            <!--item-img-info-->
                                                        </div>
                                                        <!--item-img-->
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title">
                                                                    <a title="Giày nam cao cấp" href="<?php echo Core::base_url(); ?>san-pham/giay-nam-cao-cap">Giày nam cao cấp</a>
                                                                </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box">
                                                                            <p class="old-price">
                                                                                <span class="price-label">Giá cũ:</span>
                                                                                <span id="old-price-45" class="price">680.000₫</span>
                                                                            </p>
                                                                            <p class="special-price">
                                                                                <span class="price-label">Giá khuyến mại:</span>
                                                                                <span id="product-price-45" class="price">450.000₫</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="actions">
                                                                        <div class="add_cart">
                                                                            <!-- Add cart -->
                                                                            <a href="javascript:void(0)" class="link-wishlist add_favorite " data="16922" title="Yêu thích sản phẩm"></a>
                                                                            <a href="<?php echo Core::base_url(); ?>san-pham/giay-nam-cao-cap" class="button btn-cart" title="Mua hàng">
                                                                            <span>Mua hàng</span>
                                                                            </a>
                                                                            <a href="javascript:void(0)" class="link-compare add_to_compare add_compare " data="16922" title="Thêm vào so sánh"></a>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Actions -->
                                                                </div>
                                                                <!--item-content-->
                                                            </div>
                                                            <!--info-inner-->
                                                        </div>
                                                        <!--item-info-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl-item active" style="width: 193.333px; margin-right: 0px;">
                                                <div class="item">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <div class="item-img-info">
                                                                <a href="<?php echo Core::base_url(); ?>san-pham/tui-xach-nam-cao-cap" title="Túi xách nam cao cấp" class="product-image">
                                                                <img src="<?php echo View::getPathView(); ?>image/thumb(14).php" alt="0">
                                                                </a>
                                                            </div>
                                                            <!--item-img-info-->
                                                        </div>
                                                        <!--item-img-->
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title">
                                                                    <a title="Túi xách nam cao cấp" href="<?php echo Core::base_url(); ?>san-pham/tui-xach-nam-cao-cap">Túi xách nam cao cấp</a>
                                                                </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box">
                                                                            <p class="old-price">
                                                                                <span class="price-label">Giá cũ:</span>
                                                                                <span id="old-price-45" class="price">870.000₫</span>
                                                                            </p>
                                                                            <p class="special-price">
                                                                                <span class="price-label">Giá khuyến mại:</span>
                                                                                <span id="product-price-45" class="price">740.000₫</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="actions">
                                                                        <div class="add_cart">
                                                                            <!-- Add cart -->
                                                                            <a href="javascript:void(0)" class="link-wishlist add_favorite " data="16921" title="Yêu thích sản phẩm"></a>
                                                                            <a href="<?php echo Core::base_url(); ?>san-pham/tui-xach-nam-cao-cap" class="button btn-cart" title="Mua hàng">
                                                                            <span>Mua hàng</span>
                                                                            </a>
                                                                            <a href="javascript:void(0)" class="link-compare add_to_compare add_compare " data="16921" title="Thêm vào so sánh"></a>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Actions -->
                                                                </div>
                                                                <!--item-content-->
                                                            </div>
                                                            <!--info-inner-->
                                                        </div>
                                                        <!--item-info-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl-item active" style="width: 193.333px; margin-right: 0px;">
                                                <div class="item">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <div class="item-img-info">
                                                                <a href="<?php echo Core::base_url(); ?>san-pham/vest-be-trai-thoi-trang" title="Vest bé trai thời trang" class="product-image">
                                                                <img src="<?php echo View::getPathView(); ?>image/thumb(15).php" alt="0">
                                                                </a>
                                                                <div class="sale-label sale-top-right"><span>-26%</span></div>
                                                            </div>
                                                            <!--item-img-info-->
                                                        </div>
                                                        <!--item-img-->
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title">
                                                                    <a title="Vest bé trai thời trang" href="<?php echo Core::base_url(); ?>san-pham/vest-be-trai-thoi-trang">Vest bé trai thời trang</a>
                                                                </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box">
                                                                            <p class="old-price">
                                                                                <span class="price-label">Giá cũ:</span>
                                                                                <span id="old-price-45" class="price">760.000₫</span>
                                                                            </p>
                                                                            <p class="special-price">
                                                                                <span class="price-label">Giá khuyến mại:</span>
                                                                                <span id="product-price-45" class="price">560.000₫</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="actions">
                                                                        <div class="add_cart">
                                                                            <!-- Add cart -->
                                                                            <a href="javascript:void(0)" class="link-wishlist add_favorite " data="16920" title="Yêu thích sản phẩm"></a>
                                                                            <a href="<?php echo Core::base_url(); ?>san-pham/vest-be-trai-thoi-trang" class="button btn-cart" title="Mua hàng">
                                                                            <span>Mua hàng</span>
                                                                            </a>
                                                                            <a href="javascript:void(0)" class="link-compare add_to_compare add_compare " data="16920" title="Thêm vào so sánh"></a>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Actions -->
                                                                </div>
                                                                <!--item-content-->
                                                            </div>
                                                            <!--info-inner-->
                                                        </div>
                                                        <!--item-info-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-controls">
                                        <div class="owl-nav">
                                            <div class="owl-prev" style=""><i class="fa fa-caret-left"></i></div>
                                            <div class="owl-next" style=""><i class="fa fa-caret-right"></i></div>
                                        </div>
                                        <div class="owl-dots" style="display: none;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Featured Products -->    
                </div>
            </div>
            <!-- Banner Sale off -->
            <div class="latestnews container">
                <div class="new_title">
                    <h2>Tin tức</h2>
                </div>
                <div class="latestnews-content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="blog_inner">
                                <h3><a href="<?php echo Core::base_url(); ?>tin-tuc/phong-cach-thu-dong-2015">Phong cách thu đông 2015</a></h3>
                                <div class="post-date">
                                    <i class="fa fa-calendar-minus-o"></i>
                                    <time class="entry-date">11-01-2016</time>
                                </div>
                                <div class="blog-img">
                                    <a href="<?php echo Core::base_url(); ?>tin-tuc/phong-cach-thu-dong-2015" title="Phong cách thu đông 2015">
                                    <img src="<?php echo View::getPathView(); ?>image/thumb(16).php" alt="Phong cách thu đông 2015">
                                    </a>
                                </div>
                                <!--blog-img-->
                                <p>Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang…</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="blog_inner">
                                <h3><a href="<?php echo Core::base_url(); ?>tin-tuc/show-dien-thoi-trang-lon-nhat-the-gioi-tai-paris">Show diễn thời trang lớn nhất thế giới tại Paris</a></h3>
                                <div class="post-date">
                                    <i class="fa fa-calendar-minus-o"></i>
                                    <time class="entry-date">11-01-2016</time>
                                </div>
                                <div class="blog-img">
                                    <a href="<?php echo Core::base_url(); ?>tin-tuc/show-dien-thoi-trang-lon-nhat-the-gioi-tai-paris" title="Show diễn thời trang lớn nhất thế giới tại Paris">
                                    <img src="<?php echo View::getPathView(); ?>image/thumb(17).php" alt="Show diễn thời trang lớn nhất thế giới tại Paris">
                                    </a>
                                </div>
                                <!--blog-img-->
                                <p>Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang…</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="blog_inner">
                                <h3><a href="<?php echo Core::base_url(); ?>tin-tuc/lua-chon-gu-thoi-trang-hop-phong-cach-minh">Lựa chọn gu thời trang hợp phong cách mình</a></h3>
                                <div class="post-date">
                                    <i class="fa fa-calendar-minus-o"></i>
                                    <time class="entry-date">11-01-2016</time>
                                </div>
                                <div class="blog-img">
                                    <a href="<?php echo Core::base_url(); ?>tin-tuc/lua-chon-gu-thoi-trang-hop-phong-cach-minh" title="Lựa chọn gu thời trang hợp phong cách mình">
                                    <img src="<?php echo View::getPathView(); ?>image/thumb(18).php" alt="Lựa chọn gu thời trang hợp phong cách mình">
                                    </a>
                                </div>
                                <!--blog-img-->
                                <p>Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang…</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            