
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul vocab="http://schema.org/" typeof="BreadcrumbList">
                    <li property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" href="" title="Trang chủ">
                        Trang chủ                                    </a>
                        <span> —› </span>
                    </li>
                    <li property="itemListElement" typeof="ListItem">
                        <span property="item" typeof="WebPage">Liên Hệ</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-9 col-sm-push-3">
			   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.8227536672725!2d106.67743481480129!3d10.824872492288703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528fce4830fa9%3A0x73676e4dd4d0df82!2zNS8zIEjhuqFuaCBUaMO0bmcsIFBoxrDhu51uZyAzLCBHw7IgVuG6pXAsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1473394758204" 
			   width="847" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                <div id="web5s-contact" style="margin-top:-500px;">
                    <div style="height: 500px;" id="googleMap">
                       
                    </div>
                    <h1 class="title">Liên hệ với chúng tôi</h1>
                    <ul>
                        <li>
                            <strong>Địa chỉ:</strong> 5A Đường Hạnh Thông Phường 3 Gò Vấp ( Gần BigC Gò Vấp ).                
                        </li>
                        <li>
                            <strong>Điện thoại:</strong> 0945779684              
                        </li>
                        <li>
                            <strong>Điện thoại :</strong> 0918525076               
                        </li>
                        <li>
                            <strong>Email:</strong> support@thathi.vn                
                        </li>
                    </ul>
                    <h3 style="font-size:18px;color:blue;padding:0px 150px 50px 0px;"><?php if(isset($data['status'])){echo "Chúng Tôi Đã Nhận Được Liên Hệ Của Bạn !!";} ?></h3>
                    <form id="contact" action="<?php echo Core::base_url(); ?>home/contact" method="post">
                        <div class="row field-row">    
                            <div class="col-xs-12 col-sm-6">
                                <label for="param_name">Tên đầy đủ(<span class="text-danger">*</span>)</label>
                                <input class="le-input" id="param_name" value="" name="name" required>
                                <div name="name_autocheck" class="autocheck"></div>
                                <div name="name_error" class="text-danger"></div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label for="param_email">Email(<span class="text-danger">*</span>)</label>
                                <input class="le-input" id="param_email" value="" name="email" _autocheck="true" required>
                                <div name="email_autocheck" class="autocheck"></div>
                                <div name="email_error" class="text-danger"></div>
                            </div>
                        </div>
                        <!-- /.field-row -->
                        <div class="row field-row">
                            <div class="col-xs-12 col-sm-6">
                                <label for="param_phone">Di động</label>
                                <input class="le-input" id="param_phone" value="" name="phone" _autocheck="true" required>
                                <div name="phone_autocheck" class="autocheck"></div>
                                <div name="phone_error" class="text-danger"></div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label>Địa chỉ</label>
                                <input class="le-input" id="param_address" value="" name="address" _autocheck="true" required>
                                <div name="address_autocheck" class="autocheck"></div>
                                <div name="address_error" class="text-danger"></div>
                            </div>
                        </div>
                        <!-- /.field-row -->
                        <div class="field-row">
                            <label for="param_title">Tiêu đề</label>
                            <input class="le-input" id="param_title" value="" name="title" _autocheck="true" required>
                            <div name="ptitle_autocheck" class="autocheck"></div>
                            <div name="title_error" class="text-danger"></div>
                        </div>
                        <!-- /.field-row -->
                        <div class="field-row">
                            <label for="param_content">Nội dung(<span class="text-danger">*</span>)</label>
                            <textarea rows="8" class="le-input" name="content" id="param_content" _autocheck="true" required></textarea>
                            <div name="content_autocheck" class="autocheck"></div>
                            <div name="content_error" class="text-danger"></div>
                        </div>
                        <!-- /.field-row -->
                        <div class="buttons-holder">
                            <input type="submit" value="Gửi liên hệ" class="le-button huge">
                        </div>
                        <!-- /.buttons-holder -->
                    </form>
                    <!-- /.contact-form -->
                </div>
                <!-- End: Contact -->                        
            </div>
            <div class="sidebar col-md-3 col-sm-pull-9">
                <!-- Start: Deal-->
                <div class="pdt-content products-grid">
                    <ul class="pdt-list">
                    </ul>
                </div>
                <!-- End: Deal-->
                <!-- Start: Banner-->
                <div class="banner-left mt30">
                    <div class="eff-v3">
                    </div>
                </div>
                <!-- End: Deal-->
            </div>
        </div>
    </div>
</div>