<?php
    $news = new News_model();
    $list_top = $news->get_new_post();
    //var_dump($list_top);
?>
<div id="headline" class="container">
	<div class="row-fluid">
        <?php
            foreach($list_top as $item){
                echo '<div class="span3">';
                echo '<article class="post">';
                echo '<a href="news/'.$item['title'].'" title="'.$item['title'].'" rel="bookmark">';
                echo '<img width="225" height="136" src="file_upload/'.$item['file_name'].'" class="thumb" alt="'.$item['title'].'" />';
                echo '</a>';
                echo '<div class="entry">';
                echo '<h3><a href="news/'.$item['title'].'" title="'.$item['title'].'" rel="bookmark">"'.$item['title'].'"</a></h3>';
                echo '<p>5 months ago </p>';
                echo '</div>';
                echo '<div class="clearfix"></div>';
			    echo '</article>';
		        echo '</div>';
            }
        ?>
	</div>
</div>
<div id="intr" class="container">
	<div class="row-fluid">
		<div class="brnews span9">
			<h3>Breaking News</h3>
			<ul id="scroller">
			<?php
            	foreach($list_top as $item){
            		echo '<li><p><a href="#" title="'.$item['title'].'" rel="bookmark"><span class="title">'.$item['title'].'</span>'.$item['title'].'</a></p></li>';	
            	}
            ?>
		</div>
		
		<div class="search span3">
			<div class="offset1">
				<form method="get" id="searchform" action="#">
					<p><input type="text" value="Search here..." onfocus="if ( this.value == 'Search here...' ) { this.value = ''; }" onblur="if ( this.value == '' ) { this.value = 'Search here...'; }" name="s" id="s" />
					<input type="submit" id="searchsubmit" value="Search" /></p>
				</form>
			</div>
		</div>
	</div>
</div>
	