
<?php 
	$menu = new Menu_model();
	$list_menu =$menu->get_list_menu(); 
?>

	<header id="header" class="container">
		<div id="mast-head">
			<div id="logo">
			<a href="index.html" title="Magazine" rel="home"><img src="app/view/newstreecolumn/images/logo.png" alt="Magazine" /></a>
			</div>
		</div>

				
        <nav class="navbar navbar-inverse clearfix nobot">
						
			<a id="responsive-menu-button" href="#swipe-menu">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>		
			</a>	

            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse" id="swipe-menu-responsive">

			<ul class="nav">
				
				<li>
				<span id="close-menu">
					<a href="#" class="close-this-menu">Close</a>
						<script type="text/javascript">
							jQuery('a.sidr-class-close-this-menu').click(function(){
								jQuery('div.sidr').css({
									'right': '-476px'
								});
								jQuery('body').css({
								'right': '0'
								});							
							});
						</script>
					
				</span>
				</li>
								
				<li><a href="index.html"><img src="app/view/newstreecolumn/images/home.png" alt="Magazine"></a></li>
				<li class="dropdown"><a href="index.html">Home</a>
					<ul class="sub-menu">
						<li><a href="magazine2.html">Homepage 2</a></li>
						<li><a href="blog.html">Homepage 3</a></li>
						<li><a href="shop-page.html">Homepage 4</a></li>
					</ul>
				</li>
				<li><a href="about.html">About</a></li>
				<li class="dropdown"><a href="##">Page Templates</a>
					<ul class="sub-menu">
                        <li><a href="index.html">Magazine 1</a></li>
						<li><a href="magazine2.html">Magazine 2</a></li>
						<li><a href="shop-page.html">Magazine 3</a></li>
						<li class="dropdown"><a href="#">Blog Page</a>
							<ul class="sub-menu">
								<li><a href="blog.html">Blog</a></li>
								<li><a href="blog-left.html">Blog Left</a></li>
								<li><a href="blog-right.html">Blog Right</a></li>
								<li><a href="single-post.html">Single Blog</a></li>
							</ul>
						</li>
                        <li class="dropdown"><a href="#">Shop Page</a>
							<ul class="sub-menu">
								<li><a href="shop-page.html">Shop</a></li>
								<li><a href="shop-detail.html">Shop Detail</a></li>
								<li><a href="cart.html">Cart Page</a></li>
								<li><a href="checkout.html">Checkout Page</a></li>
								<li><a href="account.html">Account Page</a></li>
							</ul>
						</li>
                        <li><a href="fullwidth.html">Fullwidth</a></li>
                        <li><a href="features.html">Features</a></li>
						<li><a href="contact.html">Contact</a></li>
                        <li><a href="author.html">Author Pages</a></li>
						<li><a href="404.html">Error 404</a></li>
						<li><a href="fullwidth.html">Full Width</a></li>
						<li><a href="gallery-2col.html">Galleries &#8211; 2 Columns</a></li>
						<li><a href="gallery-3col.html">Galleries &#8211; 3 Columns</a></li>
						<li><a href="gallery-4col.html">Galleries &#8211; 4 Columns</a></li>
						<li><a href="sitemap.html">Site Map</a></li>
					</ul>
				</li>
                <li class="dropdown"><a href="##">Shortcodes</a>
					<ul class="sub-menu">
						<li><a href="accordion.html">Accordion</a></li>
						<li><a href="blockquotes.html">Blockquotes</a></li>
						<li><a href="button.html">Buttons</a></li>
						<li><a href="column.html">Columns</a></li>
						<li><a href="dropcap.html">Dropcaps</a></li>
						<li><a href="heading.html">Heading</a></li>
						<li><a href="tabs.html">Tabs</a></li>
						<li><a href="tables.html">Tables</a></li>
						<li><a href="warning.html">Warning</a></li>
					</ul>
				</li>
				<li class="dropdown"><a href="blog.html">Blog</a>
					<ul class="sub-menu">
						<li><a href="fashion-news.html">Fashion News</a></li>
						<li><a href="#">Game News</a></li>
						<li><a href="#">Sport News</a></li>
						<li class="dropdown"><a href="#">Technology</a>
							<ul class="sub-menu">
								<li><a href="fashion-news.html">Fashion News</a></li>
								<li><a href="#">Game News</a></li>
								<li><a href="#">Sport News</a></li>
								<li><a href="#">Technology</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="dropdown"><a href="#">Shop Page</a>
                    <ul class="sub-menu">
                        <li><a href="shop-page.html">Product Page</a></li>
                        <li><a href="shop-detail.html">Product Detail</a></li>
                        <li><a href="cart.html">Cart Page</a></li>
                        <li><a href="checkout.html">checkout</a></li>
                        <li><a href="order.html">Order Detail</a></li>
                    </ul>
                </li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
            </div><!--/.nav-collapse -->
			
        </nav><!-- /.navbar -->
			
	</header><!-- #masthead -->
	