
<?php 
	$menu = new Menu_model();
	$list_menu =$menu->get_list_menu(); 
?>

	<header id="header" class="container">
		<div id="mast-head">
			<div id="logo">
			<a href="index.html" title="Magazine" rel="home"><img src="app/view/newstreecolumn/images/logo.png" alt="Magazine" /></a>
			</div>
		</div>

				
        <nav class="navbar navbar-inverse clearfix nobot">
						
			<a id="responsive-menu-button" href="#swipe-menu">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>		
			</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse" id="swipe-menu-responsive">

			<ul class="nav">
				
				<li>
				<span id="close-menu">
					<a href="#" class="close-this-menu">Close</a>
						<script type="text/javascript">
							jQuery('a.sidr-class-close-this-menu').click(function(){
								jQuery('div.sidr').css({
									'right': '-476px'
								});
								jQuery('body').css({
								'right': '0'
								});							
							});
						</script>
					
				</span>
				</li>
								
				<li><a href="index.html"><img src="app/view/newstreecolumn/images/home.png" alt="Magazine"></a></li>
                <?php 
                    foreach($list_menu as $key=>$row){
                        if($row['have_child']>0 && $list_menu[$key]['chk']=='0'){
                            echo '<li class="dropdown"><a href="'.$row['link'].'">'.$row['title'].'</a>';
                            echo '<ul class="sub-menu">';
                            foreach($list_menu as $key1=>$sub){
                                if($sub['parent']==$row['id'] && $list_menu[$key1]['chk']=='0' ){
                                    if($sub['have_child']>0){
                                        echo '<li class="dropdown"><a href="'.$sub['link'].'">'.$sub['title'].'</a>';
                                        echo '<ul class="sub-menu">';
                                        foreach($list_menu as $key2=>$sub2){
                                            if($sub2['parent']==$sub['id'] && $list_menu[$key2]['chk']=='0' ){
                                                echo '<li><a href="'.$sub2['link'].'">'.$sub2['title'].'</a></li>';
                                                $list_menu[$key2]['chk']='1';
                                            }
                                        }
                                        echo '</ul>';
                                        $list_menu[$key1]['chk']='1';
                                    }else{
                                        if($list_menu[$key1]['chk']=='0'){
                                            echo '<li><a href="'.$sub['link'].'">'.$sub['title'].'</a></li>';
                                            $list_menu[$key1]['chk']='1';
                                        }
                                    }
                                }
                            }
                            echo '</ul>';
                            $list_menu[$key]['chk']='1';
                        }else{
                            if($list_menu[$key]['chk']=='0'){
                                echo '<li><a href="'.$row['link'].'">'.$row['title'].'</a></li>';
                                $list_menu[$key]['chk']='1';
                            }                            
                        }
                    }
                ?>                
			</ul>
            </div><!--/.nav-collapse -->
			
        </nav><!-- /.navbar -->
			
	</header><!-- #masthead -->
	